* {
    margin: 0;
    padding: 0;
}

#page-wrap {
    width: 800px;
    margin: 40px auto 60px;
}

#pic {
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    float: right;
    margin: -30px 0 0 0;
    display: block;
    max-width:200px;
    max-height:2314px;
    width: auto;
    height: auto;
    padding:2px;
    border:2px solid #021a40;
    background-color:#ff0;
    position: relative;
}

body {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    background: url(images/noise.jpg);
}

.left {
    float: left;
    width: 200px;
    border: 0px solid #8AC007;
}

.right {
    width: 500px;
    float: inherit;
    margin-left: 250px;
    border-left: 1px solid black;
    padding-left: 22px;
    text-indent: 0px;
}

.clear {
    clear: both;
}

h2 span {
    position: relative;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}

h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
}

h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
}

p {
    margin: 0 0 16px 0;
}

a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:hover {
    border-bottom-style: solid;
    color: black;
}

ul {
    margin: 0 0 32px 17px;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0px 26px 0px 0px;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid #999;
}

dd {
    width: 600px;
    float: right;
}

dd.clear {
    float: none;
    margin: 0;
    height: 15px;
}